<md-toolbar layout="column">
    <div class="md-toolbar-tools">
      <h1>{{titulo}}</h1>
    </div>
</md-toolbar>
<section flex layout="row"  layout-xs="column" ng-if="dadosPassos[1].show">
<!-- SERVICOS -->
   <md-content  ng-repeat="servico in servicos">
        <md-card>
         <h2 class="md-headline" layout="column" layout-align="end center">{{servico.descricao_resumida | uppercase}}</h2>
          <!-- CARTÃO -->
          <md-list class="md-dense">
            <md-subheader class="md-no-sticky" layout="column" layout-align="end end">
              <span class="md-headline">R$ {{ (servico.valorPromocionalMensal)| number: 2}}</span>
              <span> / mês</span>
              <ui-porcentagem original="{{servico.vr_hora_servico}}" promocional="{{servico.valorPromocionalMensal}}" ng-if="servico.vr_hora_servico != servico.valorPromocionalMensal"></ui-porcentagem>
            </md-subheader>
            <md-divider></md-divider>
             <md-list-item class="md-3-line" role="link" md-ink-ripple ng-repeat="(index, value) in servico.extra.funcionalidades track by $index">
               <div class="md-list-item-text" layout="row" layout-align="start">
                 <p><md-icon md-svg-icon="action:ic_check_circle_24px" aria-label="cartao_dados.nome_portador"></md-icon></p>
                 <p>{{value}}</p>
                 <span flex></span>
               </div>
               <md-divider></md-divider>
             </md-list-item>

         </md-list>
         <md-button ng-click="tooglePassos(1, 2, servico)" class="md-raised md-primary">Escolher</md-button>
       </md-card>
 </md-content><!-- end SERVICOS -->
</section>

<ui-saldo-gestao  ng-if="dadosPassos[2].show" valor="{{saldoAtual}}" frase="Seu saldo será utilizado caso deseje trocar de plano ou de recorrência!"></ui-saldo-gestao>

<!-- RECORRENCIA -->
<section layout="row" layout-align="center center" ng-if="dadosPassos[2].show">
   <md-content ng-repeat="recorrencia in dados_plano.recorrencias" flex-gt-sm="90" flex="50">
        <md-card layout="column">
         <h2 class="md-headline" layout="column" layout-align="center center">{{recorrencia.descricao_recorrencia | uppercase}}</h2>
         <md-subheader class="md-no-sticky" layout="column" layout-align="end end">
           <span class="md-headline">R$ {{recorrencia.valor_recorrencia | number: 2}}</span>
           <span> / {{recorrencia.label_recorrencia}}</span>
           <ui-porcentagem original="{{recorrencia.original_recorrencia}}" promocional="{{recorrencia.valor}_recorrencia}" ng-if="recorrencia.original_recorrencia != recorrencia.valor_recorrencia"></ui-porcentagem>
         </md-subheader>
         <md-button ng-click="passoFinal(recorrencia)" class="md-raised md-primary">Escolher</md-button>
         <md-button ng-click="tooglePassos(2, 1)" class="md-raised md-button">Voltar</md-button>
       </md-card>
 </md-content>
</section><!-- end RECORRENCIA -->
